.idea/
_notes/
_dev/
.idea/
vendor/
app/logs/*
upl/arqs/*
upl/imgs/*
nbproject/
#app/config/myConfig.php
#app/config/database.php
#app/config/facebook.php
#app/config/loja.php
*.sublime-project
*.sublime-workspace
.project
.metadata